<h2>Please answer these Questions</h2>
<hr/>

<%= form_for([@question_group, @answer_group_builder], :html => {:class => 'form-horizontal' }) do |f| %>
  <%- @answer_group_builder.answers.each do |answer| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
		<div class="form-group">
			<%= render_answer_form_helper(answer, answer_form) %>
		</div>
    <% end %>
  <% end %>
  <%= f.submit "Save" %>
<% end %>
