<tr id="question_<%= question.id %>">
  <td><%= question.question_text %></td>
  <% if can_administer? %>
  <td>
      <%= link_to "Edit", [:edit, question.question_group, question] %> | 
      <%= link_to "Delete", [question.question_group, question], method: :delete %>
  </td>
  <% end %>
</tr>
