<h2>
  Questions
  <%= link_to "New Question", new_question_group_question_path(@question_group) %>
</h2>
<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question Item</th>
      <% if can_administer? %>
      <th>Operations</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
