<h3> <%= "#{@user.first_name} #{@user.last_name}'s feedback."%> </h3>

<% if @feedbacks.blank? %>
	There are no feedbacks for this user.
<% else %>
	<div id="feedback_container">
		<% @feedbacks.each do |feedback| %>
			<p><%= feedback %></p>
		<% end %>
	</div>
<% end %>
