<!DOCTYPE html>
<html>
<head>
<style>
body {background-color:gainsboro}
h1   {color:cornflowerblue}
p    {color:black}
</style>
</head>
<body>
<h1>Intern Evaluation Survey</h1>
<h2>Instructions</h2>
<p>Please fill out this survey to evaluate your internship experience at AELOGICA. We would like you to be as honest as possible because your constructive feedback will  be used to make this program better.</p>
<p>Click at the tab called <strong>Start Evaluation</strong> to start filling out the questionnaire.</p>
<p>Thanks!</p>


<H1> Feeback </H1>
<% current_user.user_feedbacks.each do |feedback| %>
  <p><%= feedback.feedback %></p>
<% end %>
</body>
</html>