<h2>
  Surveys
  <% if can_administer? %>
    <%= link_to "New Survey", new_question_group_path %>
  <% end %>
</h2>
<hr/>

<table>
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>
